@mainColor: #18b0b6;
@darker: darken(@mainColor, 30);

.panel-default >.panel-heading{
  background: @mainColor;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border-bottom: 4px solid darken(@mainColor, 5);
}
.note-editor{
  border: 2px solid @mainColor;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.note-editor{
  &.panel.fullscreen {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1060;
  }
  .btn{
    border: 0;
    background: @mainColor;
    color: #ffffff;
    font-size: 17px!important;
    min-width: 37px;
    -webkit-border-radius: 0!important;
    -moz-border-radius: 0!important;
    border-radius: 0!important;
    &.btn-sm{
      font-size: 16px!important;
    }
    &:hover, &:active{
      background: darken(@mainColor, 4);
      color: #ffffff;
      border-color: @mainColor;
    }
    &:active{
      background: darken(@mainColor, 5);
    }
  }
  .btn-default.active, .btn-default:active, .open>.dropdown-toggle.btn-default, .btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open>.dropdown-toggle.btn-default.focus, .open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover{
    background: darken(@mainColor, 5);
    color: #ffffff;
    border-color: @mainColor;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  .note-popover .popover .popover-content > .btn-group, .panel-heading.note-toolbar > .btn-group{
    margin-right: 0;
  }
  .note-popover .popover .popover-content .note-para .dropdown-menu, .panel-heading.note-toolbar .note-para .dropdown-menu{
    min-width: 266px;
  }
  .note-popover .popover .popover-content .note-color .dropdown-menu .btn-group .note-color-reset, .panel-heading.note-toolbar .note-color .dropdown-menu .btn-group .note-color-reset{
    text-align: center;
  }
  .note-popover .popover .popover-content .note-color .dropdown-menu .btn-group .note-color-reset:hover, .panel-heading.note-toolbar .note-color .dropdown-menu .btn-group .note-color-reset:hover {
    background: #FFF;
    color: @mainColor;
  }
  .popover-content{
    padding-right: 5px!important;
    .btn.btn-sm{
      padding: 4px 8px;
    }
    a{
      margin-top: 5px;
    }
  }
  .note-fullscreen{
    position: absolute;
    right: 5px;
    top: 0;
  }
  .dropdown-menu{
    background: darken(@mainColor, 7.5);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    padding: 3px;
    margin-top: 7px;
    border-width: 0;
    color: #ffffff;
    > li{
      background: darken(@mainColor, 5);
      >a{
        color: #ffffff;
        margin-bottom: 3px;
        padding: 5px 20px;
        font-size: 16px;
        &:hover, &:focus{
          background: @mainColor;
        }
      }
      &:last-child{
        > a {
          margin-bottom: 0;
        }
      }
    }
  }
}
input[type=file] {
  display: block;
  line-height: 1;
}
.tooltip-inner{
  font-size: 15px;
}
