@font-face {
	font-family: 'Hurricane';
	src:url('fonts/Hurricane.eot?-uhqeep');
	src:url('fonts/Hurricane.eot?#iefix-uhqeep') format('embedded-opentype'),
		url('fonts/Hurricane.ttf?-uhqeep') format('truetype'),
		url('fonts/Hurricane.woff?-uhqeep') format('woff'),
		url('fonts/Hurricane.svg?-uhqeep#Hurricane') format('svg');
	font-weight: normal;
	font-style: normal;
}

i {
	font-family: 'Hurricane';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-code:before {
	content: "\e600";
}
.icon-undo:before {
	content: "\e601";
}
.icon-redo:before {
	content: "\e602";
}
.icon-bold:before {
	content: "\e603";
}
.icon-italic:before {
	content: "\e604";
}
.icon-underline:before {
	content: "\e605";
}
.icon-strikethrough:before {
	content: "\e606";
}
.icon-color:before {
	content: "\e607";
}
.icon-pencil:before {
	content: "\e608";
}
.icon-doc:before {
	content: "\e609";
}
.icon-flash:before {
	content: "\e60a";
}
.icon-paint:before {
	content: "\e60b";
}
.icon-magic:before {
	content: "\e60c";
}
.icon-list-ol:before {
	content: "\e60d";
}
.icon-list-ul:before {
	content: "\e60e";
}
.icon-image:before {
	content: "\e60f";
}
.icon-image-thumb:before {
	content: "\e610";
}
.icon-list:before {
	content: "\e611";
}
.icon-select:before {
	content: "\e612";
}
.icon-align-left:before {
	content: "\e613";
}
.icon-align-center:before {
	content: "\e614";
}
.icon-align-right:before {
	content: "\e615";
}
.icon-doc-thumb:before {
	content: "\e616";
}
.icon-align-left-thin:before {
	content: "\e617";
}
.icon-align-center-thin:before {
	content: "\e618";
}
.icon-fullscreen:before {
	content: "\e619";
}
.icon-exit-fullscreen:before {
	content: "\e61a";
}
.icon-align-right-thin:before {
	content: "\e61b";
}
.icon-align-justify-thin:before {
	content: "\e61c";
}
.icon-align-justify:before {
	content: "\e61d";
}
.icon-text-height:before {
	content: "\e61e";
}
.icon-font-style:before {
	content: "\e61f";
}
.icon-font-width:before {
	content: "\e620";
}
.icon-link-right:before {
	content: "\e621";
}
.icon-link-right-one:before {
	content: "\e622";
}
.icon-unlink:before {
	content: "\e623";
}
.icon-uniE624:before {
	content: "\e624";
}
.icon-link:before {
	content: "\e625";
}
.icon-emotion:before {
	content: "\e626";
}
.icon-emotion-reverse:before {
	content: "\e627";
}
.icon-youtube:before {
	content: "\e628";
}
.icon-location:before {
	content: "\e629";
}
.icon-location-dot:before {
	content: "\e62a";
}
.icon-map-reverse:before {
	content: "\e62b";
}
.icon-map:before {
	content: "\e62c";
}
.icon-map-multi:before {
	content: "\e62e";
}
.icon-minus:before {
	content: "\e62f";
}
.icon-printer:before {
	content: "\e630";
}
.icon-eye:before {
	content: "\e631";
}
.icon-uneye:before {
	content: "\e632";
}
.icon-see:before {
	content: "\e633";
}
.icon-superscript:before {
	content: "\e634";
}
.icon-font-style-t:before {
	content: "\e635";
}
.icon-font-style-t-round:before {
	content: "\e636";
}
.icon-subscript:before {
	content: "\e637";
}
.icon-eraser:before {
	content: "\e638";
}
.icon-pause-fill:before {
	content: "\e62d";
}
.icon-pause:before {
	content: "\e639";
}
.icon-play-fill:before {
	content: "\e63a";
}
.icon-play:before {
	content: "\e63b";
}
.icon-table:before {
	content: "\e63c";
}
.icon-indent:before {
	content: "\ea7b";
}
.icon-outdent:before {
	content: "\ea7c";
}
