@icon-code: "\e600";
@icon-undo: "\e601";
@icon-redo: "\e602";
@icon-bold: "\e603";
@icon-italic: "\e604";
@icon-underline: "\e605";
@icon-strikethrough: "\e606";
@icon-color: "\e607";
@icon-pencil: "\e608";
@icon-doc: "\e609";
@icon-flash: "\e60a";
@icon-paint: "\e60b";
@icon-magic: "\e60c";
@icon-list-ol: "\e60d";
@icon-list-ul: "\e60e";
@icon-image: "\e60f";
@icon-image-thumb: "\e610";
@icon-list: "\e611";
@icon-select: "\e612";
@icon-align-left: "\e613";
@icon-align-center: "\e614";
@icon-align-right: "\e615";
@icon-doc-thumb: "\e616";
@icon-align-left-thin: "\e617";
@icon-align-center-thin: "\e618";
@icon-fullscreen: "\e619";
@icon-exit-fullscreen: "\e61a";
@icon-align-right-thin: "\e61b";
@icon-align-justify-thin: "\e61c";
@icon-align-justify: "\e61d";
@icon-text-height: "\e61e";
@icon-font-style: "\e61f";
@icon-font-width: "\e620";
@icon-link-right: "\e621";
@icon-link-right-one: "\e622";
@icon-unlink: "\e623";
@icon-uniE624: "\e624";
@icon-link: "\e625";
@icon-emotion: "\e626";
@icon-emotion-reverse: "\e627";
@icon-youtube: "\e628";
@icon-location: "\e629";
@icon-location-dot: "\e62a";
@icon-map-reverse: "\e62b";
@icon-map: "\e62c";
@icon-map-multi: "\e62e";
@icon-minus: "\e62f";
@icon-printer: "\e630";
@icon-eye: "\e631";
@icon-uneye: "\e632";
@icon-see: "\e633";
@icon-superscript: "\e634";
@icon-font-style-t: "\e635";
@icon-font-style-t-round: "\e636";
@icon-subscript: "\e637";
@icon-eraser: "\e638";
@icon-pause-fill: "\e62d";
@icon-pause: "\e639";
@icon-play-fill: "\e63a";
@icon-play: "\e63b";
@icon-table: "\e63c";
@icon-indent: "\ea7b";
@icon-outdent: "\ea7c";
